html, body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 0.9em;
  height: 100%;
  width: 100%;
}
#settings div {
  padding-top: 5px;
  padding-bottom: 5px;
}
#settings div.even {
  background-color: #f8f8f8;
}
#settings div.odd {
  background-color: #eee;
}
#settings {
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  /*display: none;*/
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 2;
}
#container {
  width: 100%;
  height: 100%;
  z-index: 1;
}