html, body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 0.9em;
  height: 100%;
  width: 100%;
}
.row {
  padding: 5px;
}
.positions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.positions-list li {
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  border-left-width: 10px;
  padding: 5px;
  padding-left: 10px;
}
.positions-list li.selected {
  border-color: #aaa;
}
.positions-list li:hover {
  background-color: #fff;
}
.positions-list li.selected-color-1 {
  border-color: #c10001; 
}
.positions-list li.selected-color-2 {
  border-color: #edff5b; 
}
.positions-list li.selected-color-3 {
  border-color: #1a9391; 
}
.positions-list li.selected-color-4 {
  border-color: #610c8c; 
}
.positions-list li.selected-color-5 {
  border-color: #fc331c; 
}
.positions-list li.selected-color-6 {
  border-color: #c7e000; 
}
.positions-list li.selected-color-7 {
  border-color: #0eacbd; 
}
.positions-list li.selected-color-8 {
  border-color: #980fb7; 
}
.positions-list li.selected-color-9 {
  border-color: #ff8f00; 
}
.positions-list li.selected-color-10 {
  border-color: #52e000; 
}
.positions-list li.selected-color-11 {
  border-color: #00c4da; 
}
.positions-list li.selected-color-12 {
  border-color: #d223fe; 
}
.positions-list li.selected-color-13 {
  border-color: #ffd221; 
}
.positions-list li.selected-color-14 {
  border-color: #00b22c; 
}
.positions-list li.selected-color-15 {
  border-color: #4643bb; 
}
.positions-list li.selected-color-16 {
  border-color: #b30347; 
}